button{
  font-size:17px;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border:1px green solid;
  background:#18ab29;
  color:white;
  padding:6px;
  margin: 1px 3px 1px 3px;
}

.image-appender{
  font-weight:700;
  color:green;
  font-size:15px;
  margin:15px 2px 5px 2px;
}